
<app-navbar></app-navbar>

<hr pagemargin />

<div class="container mx-auto col-lg-8">
    <h1 class="f-poppins fw-bold mb-4">{{ group.name }}</h1>
    <div apptext class="col-6">
        See all the details about your contact group. You can import and delete contact from this group.
    </div>
    <div class="position-relative mt-5">
        <button appbtn class="btn btn-warning col-3 py-2" (click)="addContacts()">Add contacts</button>
    </div>

    <!-- CONTACT CARD -->

    <div class="mt-5 px-0 row">
        <div *ngFor="let contact of group.contacts" class="col-4 mb-3">
            <div hover class="border rounded-1 p-2 px-4">
                <app-contact-item [contact]="contact" (clickEvent)="redirect($event)" (deleteEvent)="delete($event)"></app-contact-item>
            </div>
        </div>
    </div>

    <!-- END: CONTACT CARD -->

</div>
