<div contact-item class="contact-item d-flex flex-row py-1 rounded-3" (click)="onClick()">
    <div class="col-2 overflow-hidden">
        <div class="f-icon fw-lighter fs-1 d-flex align-items-center justify-content-start px-3" style="transform: scale(1.3);">
            <!-- account_circle -->
            person
        </div>
    </div>
    <div class="col-10 px-0 d-flex flex-column justify-content-center">
        <div class="fw-bold f-lexend">{{this.contact?.firstName}} {{this.contact?.lastName}}</div>
        <div apptext>
            {{ this?.contact?.address?.street }} {{ this?.contact?.address?.zip }} {{ this?.contact?.address?.city }} {{ this?.contact?.address?.country }}
        </div>
    </div>
</div>