[contact-item] {
    .icon-parent:after {
        content: "";
        position: absolute;
        top: 0.4em;
        left: .2em;
        height: 0.75em;
        width: 0.75em;
        border-radius: 999px;
        z-index: -1;
        background: #d2e0ed;
    }
}
[text-inline] {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    letter-spacing: .2mm;
}
[identity] {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}