<app-navbar [isHomePage]="true"></app-navbar>

<div page class="w-100 d-flex align-items-center py-5 position-relative" style="overflow: hidden">
    <div class="col-10 px-2 mx-auto d-flex flex-row mt-5">
        <div class="col-6 mt-5">

            <h1 apptitle class="f-lexend mt-4" style="display: block; line-height: 1em;">
                <div>Contact Wallet</div>
                <!-- <div>Management</div> -->
            </h1>
            <div apptext class="mt-2 f-montserrat mt-5 col-10">
                Contact Wallet is a user-friendly contact management application that efficiently stores, organizes, and
                manages your important contacts, simplifying communication and enhancing networking capabilities.
            </div>
            <div class="btn btn-warning f-poppins mt-5 px-5 py-2" style="border-radius: 999px;">Learn more</div>

        </div>
        <!-- border border-warning border-2 rounded-3 -->
        <div class="col-6 d-flex align-items-center justify-content-center position-relative mt-4" style="height: 23em !important;">
            <img 
                src="https://img.freepik.com/free-vector/mobile-inbox-concept-illustration_114360-4014.jpg?w=740&t=st=1699153888~exp=1699154488~hmac=82be818f618b599dcabe98783709c841710434ab1688a88df46c66af92fbdf3f"
                style="transform: scale(.83);"
            />
            <!-- <div
            style="
            background: url(https://img.freepik.com/free-vector/mobile-inbox-concept-illustration_114360-4014.jpg?w=740&t=st=1699153888~exp=1699154488~hmac=82be818f618b599dcabe98783709c841710434ab1688a88df46c66af92fbdf3f);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat; border : solid 30px blue;
            width: ;
            "
            >
            </div> -->
        </div>
        <!-- <div class="border border-danger h-100 d-flex align-items-center justify-content-end"
            style="z-index: -1">
            <img 
                src="https://img.freepik.com/free-vector/mobile-inbox-concept-illustration_114360-4014.jpg?w=740&t=st=1699153888~exp=1699154488~hmac=82be818f618b599dcabe98783709c841710434ab1688a88df46c66af92fbdf3f"
                style="transform: scale(.8); margin-top: 60px;;" 
            />
        </div> -->

    </div>
</div>

<!-- 

https://www.freepik.com/free-vector/creative-solutions-web-template_21074635.htm#page=3&query=creative%20design&position=1&from_view=search&track=ais

 -->