[navbar] {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 999;
    &.homepage {
        height: 100px;
        --p: 5em;
        padding-right: var(--p);
        padding-left : var(--p);
        margin-top: 3em;
        background-color: transparent !important;
        [links] {
            font-size: 13pt;
        }
    }
    &:not(.homepage) {
        --p: 3rem;
        padding-right: var(--p);
        padding-left : var(--p);
        box-shadow: 0 0 20PX #0b162826
    }
    .nav-link {
        position: relative;
        &:not(.f-icon)::after {
            content: '';
            content: "";
            position: absolute;
            border: solid 2px #95bfab;
            border-radius: 999px;
            bottom: 0;
            left: 0;
            width: 80%;
            box-shadow: 0 0 6PX #bffade;
            transform-origin: center;
            transform: scaleX(0);
            &:is(.active,:hover) {
                transform: scaleX(1);
            }
        }
    }
}