[navbar] {
    $color: #95bfab;
    // position: sticky !important;
    top: 0; left: 0;
    width: 100%;
    z-index: 999;
    & .f-icon {
        transition-duration: .2s;
        cursor: pointer;
        &:hover { 
            color: $color; 
        }
    }
    &.homepage {
        height: 100px;
        --p: 5em;
        padding-right: var(--p);
        padding-left : var(--p);
        margin-top: 3em;
        background-color: transparent !important;
        [links] {
            font-size: 13pt;
        }
        &::after { bottom: 5px !important }
    }
    &:not(.homepage) {
        --p: 3rem;
        padding-right: var(--p);
        padding-left : var(--p);
        box-shadow: 0 0 20PX #0b162826
    }
    .nav-link {
        position: relative;
        &:not(.f-icon)::after {
            content: '';
            position: absolute;
            border: solid 1px $color;
            border-radius: 999px;
            bottom: 0px;
            left: 0;
            width: 80%;
            box-shadow: 0 0 6PX #bffade;
            transform: scaleX(0);
            transform-origin: left;
            transition-duration: .3s;
        }
        &:is(.active,:hover)::after {
            transform: scaleX(1);
        }
    }
}